<!DOCTYPE html>
<html lang="zh-CN">
	<head>
	    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	    <title>信息发布页|华南理工大学广州学院组织社团服务平台系统</title>
	    <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
	    <link rel="stylesheet" href="css/carousel.css">
	    <link rel="stylesheet" href="css/home.css">
	    <link rel="stylesheet" href="css/mycss/activity.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
			  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	    <script src="js/jquery/jquery-3.3.1.min.js"></script>
	    <script src="js/bootstrap/bootstrap.js"></script>
	    <script src="js/popper/popper.js"></script>
	    <script src="js/holder/holder.js"></script>
	    <script src="js/myjs/home.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
	<header id="header">
	
	</header>
	
	
	<main role="main">
	    <h1 class="text-center mb-5 mt-5">信息发布</h1>
	    <!-- 内容区 -->
	    <div class="container marketing">
	        <form>
	            <div class="form-group row">
	                <label for="inputEmail3" class="col-sm-2 col-form-label display-4">活动标题</label>
	                <div class="col-sm-10">
	                    <input type="text" class="form-control" id="inputEmail3" placeholder="请输入活动标题">
	                </div>
	            </div>
	            
	            <div class="form-group row">
	                <label for="inputPassword3" class="col-sm-2 col-form-label">活动时间</label>
	                <div class="col-sm-10">
	                    <input type="date" class="form-control" id="inputPassword3" placeholder="请输入活动时间">
	                </div>
	            </div>
	            <div class="form-group row">
	                <label for="inputPassword3" class="col-sm-2 col-form-label">活动地点</label>
	                <div class="col-sm-10">
	                    <input type="text" class="form-control" id="inputPassword3" placeholder="请输入活动地点">
	                </div>
	            </div>
	            <fieldset class="form-group">
	                <div class="row">
	                    <legend class="col-form-label col-sm-2 pt-0">活动类型</legend>
	                    <div class="col-sm-9 ml-3">
	                        <div class="row">
	                            <div class="form-check col-sm-2">
	                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
	                                <label class="form-check-label" for="gridRadios1">
	                                    	文体
	                                </label>
	                            </div>
	                            <div class="form-check col-sm-2">
	                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
	                                <label class="form-check-label" for="gridRadios2">
	                                    	演讲
	                                </label>
	                            </div>
	                            <div class="form-check disabled col-sm-2">
	                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
	                                <label class="form-check-label" for="gridRadios3">
	                                    	学术科技
	                                </label>
	                            </div>
	                        </div> 
	                    </div>
	                </div>
	            </fieldset>
	            <div class="form-group row">
	                <label for="inputPassword3" class="col-sm-2 col-form-label">主办方</label>
	                <div class="col-sm-10">
	                    <input type="text" class="form-control" id="inputPassword3" placeholder="请输入主办方">
	                </div>
	            </div>
	            <div class="form-group row">
	                <label for="inputPassword3" class="col-sm-2 col-form-label">负责人</label>
	                <div class="col-sm-10">
	                    <input type="text" class="form-control" id="inputPassword3" placeholder="请输入负责人">
	                </div>
	            </div>
	            <div class="form-group row">
	                <label for="inputPassword3" class="col-sm-2 col-form-label">联系方式</label>
	                <div class="col-sm-10">
	                    <input type="text" class="form-control" id="inputPassword3" placeholder="请输入联系方式">
	                </div>
	            </div>
	            <div class="form-group row">
	                <label for="inputPassword3" class="col-sm-2 col-form-label">活动简介</label>
	                <div class="col-sm-10">
	                    <input type="text" class="form-control" id="inputPassword3" placeholder="请输入活动简介">
	                </div>
	            </div>
	            <div class="form-group row">
	                <label for="inputPassword3" class="col-sm-2 col-form-label">活动详情</label>
	                <div class="col-sm-10">
	                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
	                </div>
	            </div>
	            <div class="form-group row">
	                <label for="inputPassword3" class="col-sm-2 col-form-label">宣传图片</label>
	                <div class="col-sm-10">
	                    <label>请选择一个图像文件：</label>
	                    <input type="file" id="pic_selector" multiple/> <!--multiple，可选择多张图片-->
	                    <button>提交</button>
	                </div>
	            </div>
	            
	           
	            <div class="form-group row text-center">
	                <div class="col-sm-12">
	                    <button type="submit" class="btn btn-primary pl-3 pr-3">确认发布</button>
	                </div>
	            </div>
	        </form>        
	    </div>
	    <!--内容区 -->
	 
	    <hr class="featurette-divider">
	    <!-- FOOTER -->
	    <footer id="footer" class="container">
	       
	    </footer>
	</main>
	</body>
</html>