<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>社团展示页 | 华南理工大学广州学院组织社团服务平台系统</title>
    <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link rel="stylesheet" href="{% static "css/carousel.css" %}">
    <link rel="stylesheet" href="{% static "css/mycss/activity.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="{% static "js/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap/bootstrap.js" %}"></script>
    <script src="{% static "js/popper/popper.js" %}"></script>
    <script src="{% static "js/holder/holder.js" %}"></script>
    <script src="{% static "js/myjs/home.js" %}" type="text/javascript" charset="utf-8"></script>
</head>

<script type="text/javascript">
    function participate(id) {
        $.ajax({
                type: 'post',
                url: '/society-wall/',
                data: {
                    'participate_id': id,
                },
                success:function (msg) {
                    alert(msg['msg']);
                }
            }
        )
    }
</script>

<body>

{% include "header.html" %}

<main role="main">
    <div class="container marketing">
        <!--展示墙 -->
        <div>
            <h1 class="container text-center mt-5 mb-5">组织社团展示</h1>
        </div>
        <form>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text" id="btnGroupAddon">社团类型:</div>
                        </div>
                        <select class="form-control" id="sel1">
                            <option selected>请选择......</option>
                            <option>学校组织</option>
                            <option>院级团委、学生会</option>
                            <option>社团联合会</option>
                        </select>
                        <br>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            {% for i in organization %}
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="card mb-4 box-shadow">
                        <a href="/society-detail/?oid={{ i.id }}"><img src="/{{ i.img }}" style="height: 300px;width: 348px;"></a>
                        <div class="card-body">
                            <p class="card-text">
                                <span>社团名称：</span><label for="">{{ i.oName }} </label><br>
                            <div class="activity-introduce">
                                <span>社团简介：{{ i.introduction }}</span>
                            </div>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/society-detail/?oid={{ i.id }}" class="btn btn-sm btn-outline-secondary">社团详情</a>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                            onclick="participate({{ i.id }})">招新报名
                                    </button>
                                </div>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div><!-- /.container -->
        <!-- 分页 -->
        <nav aria-label="Page navigation example" style="margin: auto">
            <ul class="pagination justify-content-center mb-5">
                <li class="page-item {% if page == 1 %}disabled{% endif %}">
                    <a class="page-link"
                       href="/society-wall/?page=1"
                       tabindex="-1"><<</a>
                </li>
                <li class="page-item {% if page == 1 %}disabled{% endif %}">
                    <a class="page-link"
                       href="/society-wall/?page={{ page|add:-1 }}"
                       tabindex="-1"><</a>
                </li>
                {% if page > page_count|add:-1 and page|add:-4 > 0 %}
                    <li class="page-item ">
                        <a class="page-link"
                           href="/society-wall/?page={{ page|add:-4 }}"
                           tabindex="-1">{{ page|add:-4 }}</a>
                    </li>
                {% endif %}
                {% if page > page_count|add:-2 and page|add:-3 > 0 %}
                    <li class="page-item ">
                        <a class="page-link"
                           href="/society-wall/?page={{ page|add:-3 }}"
                           tabindex="-1">{{ page|add:-3 }}</a>
                    </li>
                {% endif %}
                {% if page > 2 and page|add:-2 > 0 %}
                    <li class="page-item ">
                        <a class="page-link"
                           href="/society-wall/?page={{ page|add:-2 }}"
                           tabindex="-1">{{ page|add:-2 }}</a>
                    </li>
                {% endif %}
                {% if page > 1  and page|add:-1 > 0 %}
                    <li class="page-item ">
                        <a class="page-link"
                           href="/society-wall/?page={{ page|add:-1 }}"
                           tabindex="-1">{{ page|add:-1 }}</a>
                    </li>
                {% endif %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">{{ page }}</a>
                </li>
                {% if page <= page_count|add:-1 and page|add:1 <= page_count %}
                    <li class="page-item ">
                        <a class="page-link"
                           href="/society-wall/?page={{ page|add:1 }}"
                           tabindex="-1">{{ page|add:1 }}</a>
                    </li>
                {% endif %}
                {% if page <= page_count|add:-2  and page|add:2 <= page_count %}
                    <li class="page-item ">
                        <a class="page-link"
                           href="/society-wall/?page={{ page|add:2 }}"
                           tabindex="-1">{{ page|add:2 }}</a>
                    </li>
                {% endif %}
                {% if page <= 2 and page|add:3 <= page_count %}

                    <li class="page-item ">
                        <a class="page-link"
                           href="/society-wall/?page={{ page|add:3 }}"
                           tabindex="-1">{{ page|add:3 }}</a>
                    </li>
                    {% if page == 1 and page|add:4 <= page_count %}
                        <li class="page-item ">
                            <a class="page-link"
                               href="/society-wall/?page={{ page|add:4 }}"
                               tabindex="-1">{{ page|add:4 }}</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="page-item {% if page == page_count or page_count == '1' %} disabled{% endif %}">
                    <a class="page-link"
                       href="/society-wall/?page={{ page|add:1 }}"
                       tabindex='-1'>></a>
                </li>
                <li class="page-item {% if page == page_count or page_count == '1' %} disabled{% endif %}">
                    <a class="page-link"
                       href="/society-wall/?page={{ page_count }}"
                       tabindex='-1'>>></a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- FOOTER -->

    {% include "footer.html" %}

</main>
</body>
</html>