<div id="information-container">
    <h1 class="text-center mt-2 mb-5">学生信息</h1>
    <ul>
        <li>姓名：{{ user.username }}</li>
        <li>学号：{{ user.id }}</li>
        <li>性别：{{ user.gender }}</li>
        <li>邮箱：{{ user.email }}</li>
    </ul>

    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>&copy; 2018 华南理工大学广州学院 &middot; </span><a href="#">服务条款</a> &middot; <a href="#">关于我们</a></p>
            </div>
        </div>
    </footer>
</div>


